@charset "UTF-8";
.center-image {
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    white-space: pre-wrap;
}